body {

    margin: 0;
    background-color: rgb(189, 163, 163);
}

.chat-container {
    width: 800px;
    max-height: 600px;
    max-width: 100%;
    border-radius: 8px;
    overflow: auto;
}

.chatbox {
    background-color: white;
    overflow: auto;
    width: 100%;
    padding: 10px;
}

.message {
    margin-bottom: 10px;
}

.user-message {
    text-align: left;
    font-weight: bold;
}